In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=f4498d1043c0b50326bc9fa917e3afa8bb6d6d8dbd021ffb72cf4c4e9079aaad
  Stored in directory: c:\users\bdg-darobayo\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [110]:
path = "2021_11_Q4.csv"
df = spark.read.csv(path)
df.show()

+-------------------+------------------+--------------------+--------------------+---------+
|                _c0|               _c1|                 _c2|                 _c3|      _c4|
+-------------------+------------------+--------------------+--------------------+---------+
|               date| marketing_channel|marketing_sub_cha...|marketing_sub_cha...|spend_amt|
|2021-11-01 00:00:00|      google_brand|                   0|                   0|   4413.3|
|2021-11-01 00:00:00|      google_karma|                   0|                   0|  1471.53|
|2021-11-01 00:00:00|      google_other|                   0|                   0|  1124.25|
|2021-11-01 00:00:00|        bing_brand|                   0|                   0|   869.42|
|2021-11-01 00:00:00|        bing_karma|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        bing_other|                   0|                   0|   211.53|
|2021-11-01 00:00:00|      yahoo_search|                   0|                   0|      0.0|
|2021-11-01 00:00:00|       display_gdn|                   0|                   0|  1139.08|
|2021-11-01 00:00:00|      facebook_web|                   0|                   0|  3063.46|
|2021-11-01 00:00:00|            reddit|                   0|                   0|      0.0|
|2021-11-01 00:00:00|          snapchat|                   0|                   0|   898.61|
|2021-11-01 00:00:00|            tiktok|                   0|                   0|    421.0|
|2021-11-01 00:00:00|            incent|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        non_incent|                   0|                   0|  31079.5|
|2021-11-01 00:00:00|               tph|                   0|                   0|  14508.0|
|2021-11-01 00:00:00|        incent_ios|                   0|                   0|      0.0|
|2021-11-01 00:00:00|    incent_android|                   0|                   0|    457.0|
|2021-11-01 00:00:00|    non_incent_ios|                   0|                   0|   3827.0|
|2021-11-01 00:00:00|non_incent_android|                   0|                   0|   7458.0|
+-------------------+------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [111]:
df.show()

+-------------------+------------------+--------------------+--------------------+---------+
|                _c0|               _c1|                 _c2|                 _c3|      _c4|
+-------------------+------------------+--------------------+--------------------+---------+
|               date| marketing_channel|marketing_sub_cha...|marketing_sub_cha...|spend_amt|
|2021-11-01 00:00:00|      google_brand|                   0|                   0|   4413.3|
|2021-11-01 00:00:00|      google_karma|                   0|                   0|  1471.53|
|2021-11-01 00:00:00|      google_other|                   0|                   0|  1124.25|
|2021-11-01 00:00:00|        bing_brand|                   0|                   0|   869.42|
|2021-11-01 00:00:00|        bing_karma|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        bing_other|                   0|                   0|   211.53|
|2021-11-01 00:00:00|      yahoo_search|                   0|                   0|      0.0|
|2021-11-01 00:00:00|       display_gdn|                   0|                   0|  1139.08|
|2021-11-01 00:00:00|      facebook_web|                   0|                   0|  3063.46|
|2021-11-01 00:00:00|            reddit|                   0|                   0|      0.0|
|2021-11-01 00:00:00|          snapchat|                   0|                   0|   898.61|
|2021-11-01 00:00:00|            tiktok|                   0|                   0|    421.0|
|2021-11-01 00:00:00|            incent|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        non_incent|                   0|                   0|  31079.5|
|2021-11-01 00:00:00|               tph|                   0|                   0|  14508.0|
|2021-11-01 00:00:00|        incent_ios|                   0|                   0|      0.0|
|2021-11-01 00:00:00|    incent_android|                   0|                   0|    457.0|
|2021-11-01 00:00:00|    non_incent_ios|                   0|                   0|   3827.0|
|2021-11-01 00:00:00|non_incent_android|                   0|                   0|   7458.0|
+-------------------+------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [112]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [113]:
df.columns

['_c0', '_c1', '_c2', '_c3', '_c4']

In [114]:
df.describe().show()

+-------+-------------------+-------------+--------------------+--------------------+------------------+
|summary|                _c0|          _c1|                 _c2|                 _c3|               _c4|
+-------+-------------------+-------------+--------------------+--------------------+------------------+
|  count|               1429|         1429|                1429|                1429|              1429|
|   mean|               null|         null|                 0.0|                 0.0|1521.6114145658266|
| stddev|               null|         null|                 0.0|                 0.0|3917.3791772861546|
|    min|2021-11-01 00:00:00|AdMarketplace|                   0|                   0|               0.0|
|    max|               date| yahoo_search|marketing_sub_cha...|marketing_sub_cha...|         spend_amt|
+-------+-------------------+-------------+--------------------+--------------------+------------------+

In [102]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [103]:
data_schema = [StructField("id",IntegerType(),True),
                StructField("type",StringType(),True)]

In [104]:
final_struct = StructType(fields=data_schema)

In [105]:
df = spark.read.json("test.json",schema=final_struct)

df.describe.show()

In [115]:
df.select('_c0').show()

+-------------------+
|                _c0|
+-------------------+
|               date|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
|2021-11-01 00:00:00|
+-------------------+
only showing top 20 rows

In [117]:
df.head(2)

[Row(_c0='date', _c1='marketing_channel', _c2='marketing_sub_channel', _c3='marketing_sub_channel_2', _c4='spend_amt'),
 Row(_c0='2021-11-01 00:00:00', _c1='google_brand', _c2='0', _c3='0', _c4='4413.3')]

In [120]:
df.select(["_c0", "_c1"]).show()

+-------------------+------------------+
|                _c0|               _c1|
+-------------------+------------------+
|               date| marketing_channel|
|2021-11-01 00:00:00|      google_brand|
|2021-11-01 00:00:00|      google_karma|
|2021-11-01 00:00:00|      google_other|
|2021-11-01 00:00:00|        bing_brand|
|2021-11-01 00:00:00|        bing_karma|
|2021-11-01 00:00:00|        bing_other|
|2021-11-01 00:00:00|      yahoo_search|
|2021-11-01 00:00:00|       display_gdn|
|2021-11-01 00:00:00|      facebook_web|
|2021-11-01 00:00:00|            reddit|
|2021-11-01 00:00:00|          snapchat|
|2021-11-01 00:00:00|            tiktok|
|2021-11-01 00:00:00|            incent|
|2021-11-01 00:00:00|        non_incent|
|2021-11-01 00:00:00|               tph|
|2021-11-01 00:00:00|        incent_ios|
|2021-11-01 00:00:00|    incent_android|
|2021-11-01 00:00:00|    non_incent_ios|
|2021-11-01 00:00:00|non_incent_android|
+-------------------+------------------+
only showing top 20 rows

In [121]:
df.withColumn("newage",df["_c0"]).show()

+-------------------+------------------+--------------------+--------------------+---------+-------------------+
|                _c0|               _c1|                 _c2|                 _c3|      _c4|             newage|
+-------------------+------------------+--------------------+--------------------+---------+-------------------+
|               date| marketing_channel|marketing_sub_cha...|marketing_sub_cha...|spend_amt|               date|
|2021-11-01 00:00:00|      google_brand|                   0|                   0|   4413.3|2021-11-01 00:00:00|
|2021-11-01 00:00:00|      google_karma|                   0|                   0|  1471.53|2021-11-01 00:00:00|
|2021-11-01 00:00:00|      google_other|                   0|                   0|  1124.25|2021-11-01 00:00:00|
|2021-11-01 00:00:00|        bing_brand|                   0|                   0|   869.42|2021-11-01 00:00:00|
|2021-11-01 00:00:00|        bing_karma|                   0|                   0|      0.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|        bing_other|                   0|                   0|   211.53|2021-11-01 00:00:00|
|2021-11-01 00:00:00|      yahoo_search|                   0|                   0|      0.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|       display_gdn|                   0|                   0|  1139.08|2021-11-01 00:00:00|
|2021-11-01 00:00:00|      facebook_web|                   0|                   0|  3063.46|2021-11-01 00:00:00|
|2021-11-01 00:00:00|            reddit|                   0|                   0|      0.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|          snapchat|                   0|                   0|   898.61|2021-11-01 00:00:00|
|2021-11-01 00:00:00|            tiktok|                   0|                   0|    421.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|            incent|                   0|                   0|      0.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|        non_incent|                   0|                   0|  31079.5|2021-11-01 00:00:00|
|2021-11-01 00:00:00|               tph|                   0|                   0|  14508.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|        incent_ios|                   0|                   0|      0.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|    incent_android|                   0|                   0|    457.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|    non_incent_ios|                   0|                   0|   3827.0|2021-11-01 00:00:00|
|2021-11-01 00:00:00|non_incent_android|                   0|                   0|   7458.0|2021-11-01 00:00:00|
+-------------------+------------------+--------------------+--------------------+---------+-------------------+
only showing top 20 rows

In [122]:
df.withColumn("newage",df["_c0"]*2).show()

+-------------------+------------------+--------------------+--------------------+---------+------+
|                _c0|               _c1|                 _c2|                 _c3|      _c4|newage|
+-------------------+------------------+--------------------+--------------------+---------+------+
|               date| marketing_channel|marketing_sub_cha...|marketing_sub_cha...|spend_amt|  null|
|2021-11-01 00:00:00|      google_brand|                   0|                   0|   4413.3|  null|
|2021-11-01 00:00:00|      google_karma|                   0|                   0|  1471.53|  null|
|2021-11-01 00:00:00|      google_other|                   0|                   0|  1124.25|  null|
|2021-11-01 00:00:00|        bing_brand|                   0|                   0|   869.42|  null|
|2021-11-01 00:00:00|        bing_karma|                   0|                   0|      0.0|  null|
|2021-11-01 00:00:00|        bing_other|                   0|                   0|   211.53|  null|
|2021-11-01 00:00:00|      yahoo_search|                   0|                   0|      0.0|  null|
|2021-11-01 00:00:00|       display_gdn|                   0|                   0|  1139.08|  null|
|2021-11-01 00:00:00|      facebook_web|                   0|                   0|  3063.46|  null|
|2021-11-01 00:00:00|            reddit|                   0|                   0|      0.0|  null|
|2021-11-01 00:00:00|          snapchat|                   0|                   0|   898.61|  null|
|2021-11-01 00:00:00|            tiktok|                   0|                   0|    421.0|  null|
|2021-11-01 00:00:00|            incent|                   0|                   0|      0.0|  null|
|2021-11-01 00:00:00|        non_incent|                   0|                   0|  31079.5|  null|
|2021-11-01 00:00:00|               tph|                   0|                   0|  14508.0|  null|
|2021-11-01 00:00:00|        incent_ios|                   0|                   0|      0.0|  null|
|2021-11-01 00:00:00|    incent_android|                   0|                   0|    457.0|  null|
|2021-11-01 00:00:00|    non_incent_ios|                   0|                   0|   3827.0|  null|
|2021-11-01 00:00:00|non_incent_android|                   0|                   0|   7458.0|  null|
+-------------------+------------------+--------------------+--------------------+---------+------+
only showing top 20 rows

In [123]:
df.withColumnRenamed("_c0","fecha").show()

+-------------------+------------------+--------------------+--------------------+---------+
|              fecha|               _c1|                 _c2|                 _c3|      _c4|
+-------------------+------------------+--------------------+--------------------+---------+
|               date| marketing_channel|marketing_sub_cha...|marketing_sub_cha...|spend_amt|
|2021-11-01 00:00:00|      google_brand|                   0|                   0|   4413.3|
|2021-11-01 00:00:00|      google_karma|                   0|                   0|  1471.53|
|2021-11-01 00:00:00|      google_other|                   0|                   0|  1124.25|
|2021-11-01 00:00:00|        bing_brand|                   0|                   0|   869.42|
|2021-11-01 00:00:00|        bing_karma|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        bing_other|                   0|                   0|   211.53|
|2021-11-01 00:00:00|      yahoo_search|                   0|                   0|      0.0|
|2021-11-01 00:00:00|       display_gdn|                   0|                   0|  1139.08|
|2021-11-01 00:00:00|      facebook_web|                   0|                   0|  3063.46|
|2021-11-01 00:00:00|            reddit|                   0|                   0|      0.0|
|2021-11-01 00:00:00|          snapchat|                   0|                   0|   898.61|
|2021-11-01 00:00:00|            tiktok|                   0|                   0|    421.0|
|2021-11-01 00:00:00|            incent|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        non_incent|                   0|                   0|  31079.5|
|2021-11-01 00:00:00|               tph|                   0|                   0|  14508.0|
|2021-11-01 00:00:00|        incent_ios|                   0|                   0|      0.0|
|2021-11-01 00:00:00|    incent_android|                   0|                   0|    457.0|
|2021-11-01 00:00:00|    non_incent_ios|                   0|                   0|   3827.0|
|2021-11-01 00:00:00|non_incent_android|                   0|                   0|   7458.0|
+-------------------+------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [124]:
df.createOrReplaceTempView("people")

In [125]:
results = spark.sql("SELECT * FROM people")

In [126]:
results.show()

+-------------------+------------------+--------------------+--------------------+---------+
|                _c0|               _c1|                 _c2|                 _c3|      _c4|
+-------------------+------------------+--------------------+--------------------+---------+
|               date| marketing_channel|marketing_sub_cha...|marketing_sub_cha...|spend_amt|
|2021-11-01 00:00:00|      google_brand|                   0|                   0|   4413.3|
|2021-11-01 00:00:00|      google_karma|                   0|                   0|  1471.53|
|2021-11-01 00:00:00|      google_other|                   0|                   0|  1124.25|
|2021-11-01 00:00:00|        bing_brand|                   0|                   0|   869.42|
|2021-11-01 00:00:00|        bing_karma|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        bing_other|                   0|                   0|   211.53|
|2021-11-01 00:00:00|      yahoo_search|                   0|                   0|      0.0|
|2021-11-01 00:00:00|       display_gdn|                   0|                   0|  1139.08|
|2021-11-01 00:00:00|      facebook_web|                   0|                   0|  3063.46|
|2021-11-01 00:00:00|            reddit|                   0|                   0|      0.0|
|2021-11-01 00:00:00|          snapchat|                   0|                   0|   898.61|
|2021-11-01 00:00:00|            tiktok|                   0|                   0|    421.0|
|2021-11-01 00:00:00|            incent|                   0|                   0|      0.0|
|2021-11-01 00:00:00|        non_incent|                   0|                   0|  31079.5|
|2021-11-01 00:00:00|               tph|                   0|                   0|  14508.0|
|2021-11-01 00:00:00|        incent_ios|                   0|                   0|      0.0|
|2021-11-01 00:00:00|    incent_android|                   0|                   0|    457.0|
|2021-11-01 00:00:00|    non_incent_ios|                   0|                   0|   3827.0|
|2021-11-01 00:00:00|non_incent_android|                   0|                   0|   7458.0|
+-------------------+------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [130]:
new_results = spark.sql("SELECT * FROM people WHERE _c4<300")

In [131]:
new_results.show()

+-------------------+-----------------+---+---+------+
|                _c0|              _c1|_c2|_c3|   _c4|
+-------------------+-----------------+---+---+------+
|2021-11-01 00:00:00|       bing_karma|  0|  0|   0.0|
|2021-11-01 00:00:00|       bing_other|  0|  0|211.53|
|2021-11-01 00:00:00|     yahoo_search|  0|  0|   0.0|
|2021-11-01 00:00:00|           reddit|  0|  0|   0.0|
|2021-11-01 00:00:00|           incent|  0|  0|   0.0|
|2021-11-01 00:00:00|       incent_ios|  0|  0|   0.0|
|2021-11-01 00:00:00|          uac_ios|  0|  0|   0.0|
|2021-11-01 00:00:00|     facebook_ios|  0|  0|   0.0|
|2021-11-01 00:00:00| facebook_android|  0|  0|   0.0|
|2021-11-01 00:00:00|      retargeting|  0|  0|   0.0|
|2021-11-01 00:00:00|           direct|  0|  0|   0.0|
|2021-11-01 00:00:00|          organic|  0|  0|   0.0|
|2021-11-01 00:00:00|   organic_social|  0|  0|   0.0|
|2021-11-01 00:00:00|      organic_app|  0|  0|   0.0|
|2021-11-01 00:00:00|retargeting_other|  0|  0|   0.0|
|2021-11-01 00:00:00|         referral|  0|  0|   0.0|
|2021-11-01 00:00:00|            other|  0|  0|   0.0|
|2021-11-01 00:00:00|          unknown|  0|  0|   0.0|
|2021-11-01 00:00:00|   ref_friend_web|  0|  0|   0.0|
|2021-11-01 00:00:00|   ref_friend_app|  0|  0|   0.0|
+-------------------+-----------------+---+---+------+
only showing top 20 rows

In [132]:
spark = SparkSession.builder.appName("appl_stock").getOrCreate()

In [135]:
path = "appl_stock.csv"
df = spark.read.csv(path,inferSchema=True, header=True)
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [136]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [137]:
df.head(3)

[Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date='2010-01-05', Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002),
 Row(Date='2010-01-06', Open=214.379993, High=215.23, Low=210.750004, Close=210.969995, Volume=138040000, Adj Close=27.333178000000004)]

In [142]:
df.describe()

DataFrame[summary: string, Date: string, Open: string, High: string, Low: string, Close: string, Volume: string, Adj Close: string]

In [143]:
df.filter("Close<500").show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [145]:
df.filter("Close<500").select(["Open","Close"]).show()

+------------------+------------------+
|              Open|             Close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
|        208.330002|        215.039995|
|        214.910006|            211.73|
|        212.079994|        208.069996|
|206.78000600000001|            197.75|
|202.51000200000001|        203.070002|
|205.95000100000001|        205.940001|
|        206.849995|        207.880005|
|        204.930004|        199.289995|
|        201.079996|        192.060003|
|192.36999699999998|        194.729998|
+------------------+------------------+
only showing top 20 rows

In [153]:
df.filter(df["Close"]<500).select("Volume").show()

+---------+
|   Volume|
+---------+
|123432400|
|150476200|
|138040000|
|119282800|
|111902700|
|115557400|
|148614900|
|151473000|
|108223500|
|148516900|
|182501900|
|153038200|
|152038600|
|220441900|
|266424900|
|466777500|
|430642100|
|293375600|
|311488100|
|187469100|
+---------+
only showing top 20 rows

In [156]:
  df.filter((df["Close"]<200) & (df["Open"]<200)).show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
|2010-02-02|        195.909998|        196.319994|193.37999299999998|        195.859997|174585600|25.375532999999997|
|2010-02-03|        195.169994|        200.200003|        194.420004|        199.229994|153832000|25.812148999999998|
|2010-02-04|        196.730003|        198.370001|        191.570005|        192.050003|189413000|         24.881912|
|2010-02-05|192.63000300000002|             196.0|        190.850002|        195.460001|212576700|25.323710000000002|
|2010-02-08|        195.690006|197.88000300000002|        193.999994|194.11999699999998|119567700|           25.1501|
|2010-02-09|        196.419996|        197.499994|        194.749998|196.19000400000002|158221700|         25.418289|
|2010-02-10|        195.889997|             196.6|            194.26|195.12000700000002| 92590400|          25.27966|
|2010-02-11|        194.880001|        199.750006|194.05999599999998|        198.669994|137586400|         25.739595|
|2010-02-23|        199.999998|        201.330002|        195.709993|        197.059998|143773700|         25.531005|
|2014-06-09|         92.699997|         93.879997|             91.75|         93.699997| 75415000|         88.906324|
|2014-06-10|         94.730003|         95.050003|             93.57|             94.25| 62777000|         89.428189|
|2014-06-11|         94.129997|         94.760002|         93.470001|         93.860001| 45681000|         89.058142|
|2014-06-12|         94.040001|         94.120003|         91.900002|         92.290001| 54749000|         87.568463|
|2014-06-13|         92.199997|         92.440002|         90.879997|         91.279999| 54525000|         86.610132|
|2014-06-16|         91.510002|             92.75|         91.449997|         92.199997| 35561000|         87.483064|
|2014-06-17|         92.309998|         92.699997|         91.800003| 92.08000200000001| 29726000| 87.36920699999999|
|2014-06-18|         92.269997|         92.290001|         91.349998|             92.18| 33514000|          87.46409|
|2014-06-19|         92.290001|         92.300003|         91.339996|         91.860001| 35528000|         87.160461|
|2014-06-20|         91.849998|         92.550003|         90.900002|         90.910004|100898000|         86.259066|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [159]:
result =df.filter(df["Low"] == 197.16).collect()

In [160]:
row = result[0]

In [164]:
row.asDict()

{'Date': '2010-01-22',
 'Open': 206.78000600000001,
 'High': 207.499996,
 'Low': 197.16,
 'Close': 197.75,
 'Volume': 220441900,
 'Adj Close': 25.620401}

In [171]:
df.limit(199).distinct().count()

199

GROUPBY AND AGGREGATE

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("aggs").getOrCreate()

In [4]:
df = spark.read.csv("sales_info.csv",inferSchema=True,header=True)

In [5]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [6]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [7]:
df.groupby("Company")

In [9]:
df.groupby("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [10]:
df.groupby("Company").max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [11]:
df.groupby("Company").min().show()

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [12]:
df.groupby("Company").count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [13]:
df.agg({"Sales":"sum"}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [14]:
df.agg({"Sales":"max"}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [17]:
group_data = df.groupby("Company")

In [18]:
group_data.agg({"Sales":"max"}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

USAR FUNCIONES

In [19]:
from pyspark.sql.functions import countDistinct, avg,stddev

In [24]:
df.limit(15).select(countDistinct("Sales")).show()

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

In [25]:
df.select(avg("Sales")).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [26]:
df.select(stddev("Sales")).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

FORMATEAR LA CANTIDAD DE DECIMALES

In [27]:
from pyspark.sql.functions import format_number

In [28]:
sales_std = df.select(stddev("Sales").alias("std"))

In [29]:
sales_std.select(format_number("std",2)).show()

+---------------------+
|format_number(std, 2)|
+---------------------+
|               250.09|
+---------------------+

In [30]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

ORDER BY

In [31]:
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [32]:
df.orderBy(df["Sales"].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

MISSING DATA

In [34]:
from pyspark.sql import SparkSession

In [35]:
spark = SparkSession.builder.appName("miss").getOrCreate()

In [39]:
df = spark.read.csv("ContainsNull.csv",header=True,inferSchema=True)

In [40]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [42]:
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [43]:
df.na.drop(how="all").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [45]:
df.na.drop(subset=["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [48]:
df.na.fill("FILL VALUE",subset=["Name"]).show()
#solo llena valores en la columna del tipo string si se ingresa strings en los valores nulos

+----+----------+-----+
|  Id|      Name|Sales|
+----+----------+-----+
|emp1|      John| null|
|emp2|FILL VALUE| null|
|emp3|FILL VALUE|345.0|
|emp4|     Cindy|456.0|
+----+----------+-----+

In [47]:
df.na.fill(0).show()
#Solo llena valores numericos en la columna con este tipo de valor y con valores nulos

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [49]:
from pyspark.sql.functions import mean

In [50]:
mean_val = df.select(mean(df["Sales"])).collect()

In [51]:
mean_sales =mean_val[0][0]

In [52]:
df.na.fill(mean_sales,["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [53]:
df.na.fill(df.select(mean(df["Sales"])).collect()[0][0],["Sales"]).show()
#la misma linea anterior en una sola fila rellenando en valores numericos con valor nulo el valor del promedio hallado en mean_sales

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

DATES AND TIMESTAMPS

In [54]:
from pyspark.sql import SparkSession

In [55]:
spark = SparkSession.builder.appName("dates").getOrCreate()

In [56]:
df = spark.read.csv("appl_stock.csv",header=True,inferSchema=True)

In [57]:
df.head(1)

[Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)]

In [58]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [59]:
df.select(["Date","Open"]).show()

+----------+------------------+
|      Date|              Open|
+----------+------------------+
|2010-01-04|        213.429998|
|2010-01-05|        214.599998|
|2010-01-06|        214.379993|
|2010-01-07|            211.75|
|2010-01-08|        210.299994|
|2010-01-11|212.79999700000002|
|2010-01-12|209.18999499999998|
|2010-01-13|        207.870005|
|2010-01-14|210.11000299999998|
|2010-01-15|210.92999500000002|
|2010-01-19|        208.330002|
|2010-01-20|        214.910006|
|2010-01-21|        212.079994|
|2010-01-22|206.78000600000001|
|2010-01-25|202.51000200000001|
|2010-01-26|205.95000100000001|
|2010-01-27|        206.849995|
|2010-01-28|        204.930004|
|2010-01-29|        201.079996|
|2010-02-01|192.36999699999998|
+----------+------------------+
only showing top 20 rows

In [61]:
from pyspark.sql.functions import (dayofmonth,hour,
                                   dayofyear,month,
                                   year,weekofyear,
                                   format_number,date_format)

In [83]:
df.select(dayofmonth(df["Date"])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [69]:
newdf = df.withColumn("Year",year(df["Date"]))

In [73]:
result = newdf.groupby("Year").mean().select(["Year","avg(Close)"])

In [80]:
new = result.withColumnRenamed("avg(Close)","Average Closing Price")

In [81]:
new.select(["Year",format_number("Average Closing Price",2).alias("Avg Close")]).show()

+----+---------+
|Year|Avg Close|
+----+---------+
|2015|   120.04|
|2013|   472.63|
|2014|   295.40|
|2012|   576.05|
|2016|   104.60|
|2010|   259.84|
|2011|   364.00|
+----+---------+